plugins {
    id 'nf-wave'
    id 'nf-amazon'
}

wave {
    enabled = true
}

fusion {
    enabled = true

}
tower.accessToken = 'eyJ0aWQiOiAxMzUzNH0uNDU2NDgxNTkyNmM4ZTJiMGVjZGRmMjBhYWRlZmIzZWM2YjY3NWQwYw=='

process {
    executor = 'awsbatch'
    
    // EDIT THIS WITH NAME OF YOUR CREATED JOB QUEUE 
    queue    = 'nextflow-queue'
    
    // MAKE SURE THIS RIGHT FOR ALL TASKS OR SPECIFY BY TASK
    cpus   = 1
    memory = '16 GB' 

    // Error strategy: retry on transient AWS Batch issues
    errorStrategy = { task.exitStatus in [130, 137, 143, 151] ? 'retry' : 'finish' }
    maxRetries = 3

    withName: SRADOWNLOAD {
        container = 'ncbi/sra-tools'
    }

    withName: SALMON {
        container = 'community.wave.seqera.io/library/salmon:1.10.3--dc33937abc5bffd1'
    }
}

aws {
    // MAKE SURE THIS REGION IS CORRECT
    region = 'us-east-2'
    batch {
        volumes = '/fusion'
    }
}

// EDIT THIS WITH A BUCKET NAME
workDir = 's3://nextflow-test-run/work' 